    <footer>
        <div class="cL">
            <div class="git">
                <a href="https://github.com/Sebas1705/ProfesoresACasa">
                    <img src="images/github.png" alt="" onclick="">
                </a>
                <p>GitHubRepository</p>
            </div>
        </div>
        <div class="cR">
            <div class="git">
                <a href="https://github.com/AHoyasR">
                    <img src="images/content-creator.png" alt="">
                </a>
                <p>AHoyasR</p>
            </div>
            <div class="git">
                <a href="https://github.com/Sebas1705">
                    <img src="images/content-creator.png" alt="">
                </a>
                <p>Sebas1705</p>
            </div>
        </div>
    </footer>    
</body>
</html>