<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
    <title>ProfesoresACasa</title>
</head>
<body>
    <header>
        {{#User}}
        <div class="Menu">
            <div id="ProfesoresACasaIcon">
                <img class="icon" src="images/maletin.png" alt="">
                <img class="title" src="images/inkpx-word-art.png" alt="">
            </div>
            <hr>
            <div class="Link">
                <h1>Inicio</h1>
                <a href="/">
                    <img src="images/home.png" alt="">
                </a>
            </div>
            <hr>
            <div class="Link">
                <h1>MiPerfil</h1>
                <a href="/myProfile">
                    <img src="images/user-profile.png" alt="">
                </a>
            </div>
            <hr>
            <div class="Link">
                <h1>Salir</h1>
                <form action="/logout" method="post">
                    <button type="submit">
                        <img src="images/logout.png" alt="">
                    </button>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
            <hr>
            <div class="icon">
                <h1>{{logname}}</h1>
            </div>
        </div>
        {{/User}}
        
        {{^User}}
        <div class="Menu">
            
            <div id="ProfesoresACasaIcon">
                <img class="icon" src="images/maletin.png" alt="">
                <img class="title" src="images/inkpx-word-art.png" alt="">
            </div>
            <hr>
            <div class="Link">
                <h1>Inicio</h1>
                <a href="/">
                    <img src="images/home.png" alt="">
                </a>
            </div>
            <hr>
            <div class="Link">
                <h1>Acceder</h1>
                <a href="/logIn">
                    <img src="images/user-profile.png" alt="">
                </a>
            </div>
            <hr>
            <div class="Link">
                <h1>Registrarse</h1>
                <a href="/signUp">
                    <img src="images/sitio-web.png" alt="">
                </a>
            </div>
            <hr>
            <div class="noIcon">
                <img src="images/perfil-del-usuario.png" alt="">
            </div>
        </div>
        {{/User}}
    </header>
    
