{{>header}}
<section>
  <div class="formulariosLog">
    <h1>Login</h1>
    <form class="form" method="post" action="/logIn">
      {{#Incorrect}}
      <p class="err">{{error}}</p>
      {{/Incorrect}}
      <p class="field">
        <input type="text" name="username" placeholder="logname" required/>
        <i class="fa fa-user"></i>
      </p>
      <p class="field">
        <input type="password" name="password" placeholder="password" required/>
        <i class="fa fa-lock"></i>
      </p>
      <p class="submit"><input type="submit" name="sent" value="Login"></p>
      <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
  </div> <!--Login-->
</section>
{{>footer}}
