{{>header}}
<section>
  <div class="formulariosLog">
    <h1>Oferta</h1>
    <form class="form" method="post" action="/createPost">
      <p class="field">
        <input type="text" name="title" placeholder="Título de la oferta" required/><!--Nombre de la oferta-->
        <i class="fa fa-user"></i>
      </p>
      <p class="sub-text">
        <textarea type="text" name="description" placeholder="descripción" required ></textarea>
        <i class="fa fa-lock"></i>
      </p>
      <p class="field">
        <input type="number" name="price" placeholder="0.00-100.00" min="0.00" max="100.00" step="0.01" required/><!--Precio de la oferta-->
        <i class="fa fa-user"></i>
      </p>
      <p class="submit"><input type="submit" name="sent" value="Publicar"></p>
      <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>

  </div> <!--Nueva oferta-->
</section>
{{>footer}}
