{{>header}}
<section class="MyProfile">
    {{#User}}
    <div class="InfoUser">
        <h1>{{logname}}</h1>
        {{#selfDescription}}
        <p class="des">{{selfDescription}}</p>
        {{/selfDescription}}
        {{^selfDescription}}
        <p class="des">No hay descripcion, añadela!!</p>
        {{/selfDescription}}
        <div class="cButtons">
            <button onclick="window.location.href='/changeDataUser'">Personaliza tu perfil</button>
            <button onclick="window.location.href='/deleteUser'">Borrar Usuario</button>
        </div>
    </div>
    {{/User}}

    <div class="columns">
        <div class="colLeft">
            <h2>Publicaciones</h2>
            <button class="mas" onclick="window.location.href='/newPost'">+</button>
            {{>postCard}}
        </div>
        
        <div class="colRight">
            <h2>Contratos<h1>
            {{>contractCard}}
        </div>
    </div>
</section>
{{>footer}}