{{>header}}
<section>
  <div class="cointenerContract">
    <h1>Info Contrato:</h1>
    
    {{#Post}}
    <div id="postInfoContract">
      <h4>{{title}}</h4>
      <p class="des">{{description}}</p>
      <p class="res"><strong>Precio</strong>: {{price}} euros | <strong>Fecha</strong>: {{created_date}}</p>
    </div>
    {{/Post}}
    <div class="cointenerST">
      {{#Student}}
      <div id="studentInfoContract">
        <h4>Estudiante:</h4>
        <p>{{logname}}</p>
      </div>
      {{/Student}}
      {{#Teacher}}
      <div id="teacherInfoContract">
        <h4>Profesor:</h4>
        <p>{{logname}}</p>
      </div>
      {{/Teacher}}
    </div>
    {{#Post}}{{#Student}}{{#Teacher}}<button onclick="window.location.href='/contract?postId={{Post.id}}&studentId={{Student.id}}&teacherId={{Teacher.id}}'">Confirmar Contrato</button>{{/Teacher}}{{/Student}}{{/Post}}
  </div> 
</section>
{{>footer}}
 