<div class="scroller">
    <button class="Prev" onclick="window.location.href='/?page={{^hasPrev}}{{actualPage}}{{/hasPrev}}{{#hasPrev}}{{prevPage}}{{/hasPrev}}'" ><=</button>
    <div class="containerIndexs">
        {{#prevPages}}
        <button class="prevIndexpage" onclick="window.location.href='/?page={{.}}'" class="prev indexpage">
            {{.}}
        </button>
        {{/prevPages}}
        <h1 class="actualIndexpage">
            {{actualPage}}
        </h1>
        {{#nextPages}}
        <button class="nextIndexpage" onclick="window.location.href='/?page={{.}}'" class="next indexpage">
            {{.}}
        </button>
        {{/nextPages}}
    </div>
    <button class="Next" onclick="window.location.href='/?page={{^hasNext}}{{actualPage}}{{/hasNext}}{{#hasNext}}{{nextPage}}{{/hasNext}}'" >=></button>
</div>