{{>header}}
<section class="Post">
  {{#Post}}
    <div class="Info">
      <h1>{{title}}</h1>
      <h3>{{description}}</h3>
      <p>{{price}}</p>
      <p> Created in: {{created_date}}</p>
      {{#Stars}}
        <div class="stars">
          <img src="images/estrella.png">
        </div>
      {{/Stars}}
      {{^Stars}}
        <img src="images/circulo.png">
      {{/Stars}}
    </div>
    
    <div class="Buttons">
      {{#User}}
      <div class="Use">
        <button onclick= "window.location.href='/newContract?postId={{Post.id}}&studentId={{User.id}}&teacherId={{Post.ownerUser.id}}'">Contratar</button>
        <button onclick= "window.location.href='/newReport?postId={{Post.id}}'">Denunciar</button>
      </div>
      <div class="Rank">
        
        <div class="rBs">
          <h1>Puntúa este post:</h1>
          <button onclick= "window.location.href='/rank?punt=0&postId={{Post.id}}'">0</button>
          <button onclick= "window.location.href='/rank?punt=1&postId={{Post.id}}'">1</button>
          <button onclick= "window.location.href='/rank?punt=2&postId={{Post.id}}'">2</button>
          <button onclick= "window.location.href='/rank?punt=3&postId={{Post.id}}'">3</button>
          <button onclick= "window.location.href='/rank?punt=4&postId={{Post.id}}'">4</button>
          <button onclick= "window.location.href='/rank?punt=5&postId={{Post.id}}'">5</button> 
        </div>
      </div>
      {{/User}}
      <button onclick= "window.location.href='/otherProfile?userId={{ownerUser.id}}'">Ir {{ownerUser.logname}}</button>
    </div>
  {{/Post}}
  {{^Post}}
  {{/Post}}
</section>
{{>footer}}
